{
  "openapi": "3.0.3",
  "info": {
    "title": "ARP Digital OTC API",
    "description": "Over-The-Counter (OTC) trading API for managing trades and obtaining real-time quotes. This API enables authenticated users to execute buy/sell trades, retrieve their trading history, and request price quotes for various trading pairs. All requests require API key authentication with HMAC SHA256 signature verification for security.",
    "version": "1.0.0",
    "contact": {
      "name": "ARP Digital Support",
      "email": "support@arpdigital.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://arpdigital.com/license"
    }
  },
  "externalDocs": {
    "description": "Full API documentation and guides",
    "url": "https://docs.arpdigital.com/otc-api"
  },
  "servers": [
    {
      "url": "https://platform.arpdigital.io/services/otc/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "parameters": {
      "ApiKey": {
        "name": "X-API-Key",
        "in": "header",
        "description": "Your unique API key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Timestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "description": "Current Unix timestamp (in seconds).",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64",
          "example": 1700000000
        }
      },
      "Signature": {
        "name": "X-Signature",
        "in": "header",
        "description": "HMAC SHA256 signature generated using the request payload and secret key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Environment": {
        "name": "X-Environment",
        "in": "header",
        "description": "Specifies the environment to use. Determines which database the API interacts with.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": ["sandbox", "production"],
          "default": "sandbox"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Currency": {
        "type": "object",
        "required": ["id", "symbol", "name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique currency identifier",
            "example": "cur_123abc"
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol",
            "example": "USD"
          },
          "name": {
            "type": "string",
            "description": "Currency name",
            "example": "US Dollar"
          },
          "type": {
            "type": "string",
            "enum": ["FIAT", "CRYPTO"],
            "description": "Currency type",
            "example": "FIAT"
          },
          "decimals": {
            "type": "integer",
            "description": "Number of decimal places",
            "example": 2
          }
        }
      },
      "Quote": {
        "type": "object",
        "required": [
          "id",
          "fromCurrencyId",
          "toCurrencyId",
          "rate",
          "expiresAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique quote identifier",
            "example": "quote_456def"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromAmount": {
            "type": "string",
            "description": "Amount from source currency",
            "example": "100.00"
          },
          "toAmount": {
            "type": "string",
            "description": "Amount in destination currency",
            "example": "98.50"
          },
          "rate": {
            "type": "string",
            "description": "Exchange rate",
            "example": "0.985000"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Quote expiration timestamp",
            "example": "2025-12-23T10:20:00Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Quote creation timestamp",
            "example": "2025-12-23T10:10:00Z"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Quote labels (e.g., Pro Trading, Standard Trading)",
            "example": ["Standard Trading"]
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "Trade": {
        "type": "object",
        "required": [
          "id",
          "fromCurrencyId",
          "toCurrencyId",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique trade identifier",
            "example": "trade_123abc"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Source currency details"
          },
          "toCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Destination currency details"
          },
          "fromAmount": {
            "type": "string",
            "description": "Amount from source currency",
            "example": "100.00"
          },
          "toAmount": {
            "type": "string",
            "description": "Amount in destination currency",
            "example": "98.50"
          },
          "rate": {
            "type": "string",
            "description": "Exchange rate used for trade",
            "example": "0.985000"
          },
          "type": {
            "type": "string",
            "enum": ["ONRAMP", "OFFRAMP", "CRYPTO"],
            "description": "Trade type based on currency types",
            "example": "ONRAMP"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ],
            "description": "Trade status",
            "example": "COMPLETED"
          },
          "quote": {
            "$ref": "#/components/schemas/Quote",
            "description": "Associated quote details"
          },
          "organization": {
            "type": "object",
            "description": "Organization details",
            "properties": {
              "id": {
                "type": "string",
                "example": "org_123"
              },
              "name": {
                "type": "string",
                "example": "Acme Corp"
              }
            }
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier",
            "example": "ext_ref_123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Trade creation timestamp",
            "example": "2025-12-23T10:10:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2025-12-23T10:15:00Z"
          }
        }
      },
      "CreateTradeRequest": {
        "type": "object",
        "required": ["quoteId"],
        "properties": {
          "quoteId": {
            "type": "string",
            "description": "ID of the quote to execute trade on",
            "example": "quote_456def"
          },
          "externalReference": {
            "type": "string",
            "description": "Optional external reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "GetQuoteRequest": {
        "type": "object",
        "properties": {
          "fromCurrency": {
            "type": "string",
            "description": "Source currency symbol (e.g., USD, EUR)",
            "example": "USD"
          },
          "toCurrency": {
            "type": "string",
            "description": "Destination currency symbol (e.g., BTC, ETH)",
            "example": "BTC"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromAmount": {
            "type": "number",
            "description": "Amount to convert from source currency",
            "example": 100.0
          },
          "toAmount": {
            "type": "number",
            "description": "Amount in destination currency (alternative to fromAmount)",
            "example": 0.0025
          },
          "externalReference": {
            "type": "string",
            "description": "Optional external reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "TradeListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Trade"
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          },
          "errorDetails": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Customer": {
        "type": "object",
        "required": ["id", "externalRef", "enabled"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique customer identifier",
            "example": "uuid-v4-string"
          },
          "externalRef": {
            "type": "string",
            "description": "Your internal reference ID for the customer",
            "example": "user_99"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the customer is active",
            "example": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Customer creation timestamp",
            "example": "2024-01-01T00:00:00.000Z"
          }
        }
      },
      "CreateCustomerRequest": {
        "type": "object",
        "required": ["externalRef"],
        "properties": {
          "externalRef": {
            "type": "string",
            "description": "Your internal reference ID for the customer",
            "example": "user_99"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether the customer is active. Defaults to true",
            "example": true
          }
        }
      },
      "UpdateCustomerStatusRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Set to true to enable or false to disable",
            "example": false
          }
        }
      },
      "CustomerListResponse": {
        "type": "object",
        "required": ["success", "data", "pagination"],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "required": ["success", "data"],
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "required": ["total", "page", "limit", "totalPages"],
        "properties": {
          "total": {
            "type": "integer",
            "description": "Total number of items",
            "example": 150
          },
          "page": {
            "type": "integer",
            "description": "Current page number",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "Items per page",
            "example": 20
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages",
            "example": 8
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key or signature",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/customers": {
      "post": {
        "tags": ["Customers"],
        "operationId": "createCustomer",
        "summary": "Create a new customer",
        "description": "Register a new customer for your organization",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "tags": ["Customers"],
        "operationId": "listCustomers",
        "summary": "List all customers",
        "description": "Retrieve a paginated list of customers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (max 100)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order (asc or desc)",
            "schema": {
              "type": "string",
              "default": "asc"
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "List of customers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{id}": {
      "get": {
        "tags": ["Customers"],
        "operationId": "getCustomer",
        "summary": "Get customer details by ID",
        "description": "Retrieve details for a specific customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer ID"
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Customer details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{id}/enable": {
      "patch": {
        "tags": ["Customers"],
        "operationId": "updateCustomerStatus",
        "summary": "Enable/Disable Customer",
        "description": "Update a customer's active status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer ID"
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{id}/balance": {
      "get": {
        "tags": ["Customers"],
        "operationId": "getCustomerBalance",
        "summary": "Get customer balance",
        "description": "Retrieve the current balances for a customer",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer ID"
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "Filter by specific currency (e.g., BTC, USD)",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Customer balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currencyId": {
                            "type": "string",
                            "example": "cur_123"
                          },
                          "balance": {
                            "type": "string",
                            "example": "100.00"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/customers/{id}/transactions": {
      "get": {
        "tags": ["Customers"],
        "operationId": "getCustomerTransactions",
        "summary": "Get customer balance transactions",
        "description": "Retrieve the transaction history for a customer's balance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Customer ID"
          },
          {
            "name": "currencyId",
            "in": "query",
            "description": "Filter by specific currency",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Customer transactions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "txn_123"
                          },
                          "type": {
                            "type": "string",
                            "example": "DEBIT"
                          },
                          "amount": {
                            "type": "string",
                            "example": "50.00"
                          },
                          "currencyId": {
                            "type": "string",
                            "example": "cur_123"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "example": "2024-01-01T00:00:00.000Z"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/quotes": {
      "post": {
        "tags": ["Quotes"],
        "operationId": "getQuote",
        "summary": "Request a real-time exchange quote",
        "description": "Get a real-time price quote for a currency pair. You can provide either currency symbols or currency IDs, and either fromAmount or toAmount.",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/quotes/{quoteId}": {
      "get": {
        "tags": ["Quotes"],
        "operationId": "getQuoteById",
        "summary": "Get details of a specific quote",
        "description": "Retrieve the details of a specific quote by its ID",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Quote ID"
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Quote details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quote": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Quote not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/trades": {
      "post": {
        "tags": ["Trades"],
        "operationId": "createTrade",
        "summary": "Execute a trade based on a quote",
        "description": "Execute a trade based on a valid quoteId",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trade executed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trade"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  }
}
