{
  "openapi": "3.1.0",
  "info": {
    "title": "ARP Digital GPS API",
    "version": "1.0.0",
    "description": "API for ARP Digital GPS platform allowing users to manage recipients, quotes, and remittance transactions.\n\n## Authentication\nAll API requests require API Key authentication via the Authorization header.\n"
  },
  "servers": [
    {
      "url": "https://platform.arpdigital.io/services/gps/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Recipients",
      "description": "Manage recipient information and verification"
    },
    {
      "name": "Quotes",
      "description": "Handle currency exchange quotes"
    },
    {
      "name": "Transactions",
      "description": "Handle remittance transactions"
    },
    {
      "name": "Configuration",
      "description": "Country configuration and setup"
    },
    {
      "name": "Senders",
      "description": "Manage sender information"
    }
  ],
  "components": {
    "parameters": {
      "ApiKey": {
        "name": "X-API-Key",
        "in": "header",
        "description": "Your unique API key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Timestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "description": "Current Unix timestamp (in seconds).",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64",
          "example": 1700000000
        }
      },
      "Signature": {
        "name": "X-Signature",
        "in": "header",
        "description": "HMAC SHA256 signature generated using the request payload and secret key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Environment": {
        "name": "X-Environment",
        "in": "header",
        "description": "Specifies the environment to use. Determines which database the API interacts with.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": ["sandbox", "production"],
          "default": "sandbox"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key for authentication"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "errorDetails": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "example": 1000.5
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Balance"
            }
          }
        }
      },
      "DepositAddress": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "0x1234567890abcdef1234567890abcdef12345678",
            "description": "The blockchain address for deposits"
          },
          "qrCode": {
            "type": "string",
            "description": "Base64 encoded QR code image of the deposit address"
          }
        }
      },
      "DepositAddressResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/DepositAddress"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number for deposits"
          },
          "accountName": {
            "type": "string",
            "description": "Name of the account holder"
          },
          "bankName": {
            "type": "string",
            "description": "Name of the bank"
          },
          "swiftCode": {
            "type": "string",
            "description": "SWIFT/BIC code of the bank"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the bank account"
          },
          "iban": {
            "type": "string",
            "description": "International Bank Account Number (if applicable)"
          },
          "branchName": {
            "type": "string",
            "description": "Name of the bank branch"
          },
          "branchAddress": {
            "type": "string",
            "description": "Address of the bank branch"
          },
          "routingNumber": {
            "type": "string",
            "description": "Routing or sort code of the bank"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BeneficiaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Beneficiary"
          }
        }
      },
      "WalletTransaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": ["DEPOSIT", "WITHDRAWAL", "TRANSFER"]
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "COMPLETED", "FAILED", "CANCELLED"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WalletTransactionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WalletTransaction"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "DepositRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "referenceId": {
            "type": "string",
            "description": "Reference ID for the deposit request"
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "COMPLETED", "REJECTED"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateDepositRequest": {
        "type": "object",
        "required": ["amount", "currency"],
        "properties": {
          "amount": {
            "type": "number",
            "minimum": 0.01
          },
          "currency": {
            "type": "string",
            "example": "USD"
          },
          "referenceId": {
            "type": "string",
            "description": "Optional reference ID for the deposit request. If not provided, a random string will be generated."
          }
        }
      },
      "DepositRequestsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/DepositRequest"
                },
                {
                  "type": "object",
                  "properties": {
                    "reviewedBy": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "firstName": {
                          "type": "string"
                        },
                        "lastName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "FiatChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "minAmount": {
            "type": "number"
          },
          "maxAmount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "processingTimeHours": {
            "type": "integer"
          },
          "fee": {
            "type": "number"
          }
        }
      },
      "FiatChannelsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FiatChannel"
            }
          }
        }
      },
      "Recipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": ["INDIVIDUAL", "BUSINESS"]
          },
          "country": {
            "type": "string",
            "description": "3-letter ISO country code"
          },
          "verificationInfo": {
            "type": "object",
            "additionalProperties": true,
            "description": "Verification information, varies by country and type"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "type": {
                  "type": "string"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": true
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "externalIds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "externalId": {
                  "type": "string"
                },
                "provider": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RecipientsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recipient"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "VerificationField": {
        "type": "object",
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "The field name to be used when submitting the data"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the field"
          },
          "type": {
            "type": "string",
            "enum": ["TEXT", "FILE", "MULTI_CHOICE", "DATE"],
            "description": "The type of input field required. If type is 'FILE', you must include a file upload with the same name as the fieldName when creating a recipient."
          },
          "required": {
            "type": "boolean",
            "description": "Whether this field is mandatory"
          },
          "options": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "The actual value to be submitted"
                },
                "label": {
                  "type": "string",
                  "description": "Human-readable label for the option"
                }
              }
            },
            "description": "Available options for MULTI_CHOICE type fields"
          }
        },
        "required": ["fieldName", "label", "type", "required"]
      },
      "CreateRecipient": {
        "type": "object",
        "required": ["type", "country", "verificationInfo", "paymentMethods"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["INDIVIDUAL", "BUSINESS"],
            "example": "INDIVIDUAL",
            "description": "Type of recipient - individual person or business entity"
          },
          "country": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PHL",
            "description": "3-letter ISO country code"
          },
          "verificationInfo": {
            "type": "object",
            "additionalProperties": true,
            "description": "Verification information, varies by country and type. This must be an object, not an array."
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["type", "metadata"],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Payment method type (e.g., BANK_ACCOUNT). Common values include BANK_ACCOUNT, CASH_PICKUP, etc."
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Payment method details specific to the type (e.g., for BANK_ACCOUNT: bankName, accountNumber, accountHolderName, etc.)"
                }
              }
            },
            "minItems": 1,
            "maxItems": 1,
            "description": "Array with exactly one payment method"
          }
        },
        "description": "Recipient creation payload. Note: File upload functionality is temporarily disabled.",
        "example": {
          "type": "INDIVIDUAL",
          "country": "PHL",
          "verificationInfo": {
            "firstName": "Juan",
            "lastName": "Cruz"
          },
          "paymentMethods": [
            {
              "type": "PESONET",
              "metadata": {
                "channel": "bdouni",
                "name": "Juan Dela Cruz",
                "accountNumber": "123456789012"
              }
            }
          ]
        }
      },
      "CreateRecipientData": {
        "type": "object",
        "required": ["type", "country", "verificationInfo", "paymentMethods"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["INDIVIDUAL", "BUSINESS"],
            "example": "INDIVIDUAL",
            "description": "Type of recipient - individual person or business entity"
          },
          "country": {
            "type": "string",
            "minLength": 3,
            "maxLength": 3,
            "example": "PHL",
            "description": "3-letter ISO country code"
          },
          "verificationInfo": {
            "type": "object",
            "additionalProperties": true,
            "description": "Verification information, varies by country and type"
          },
          "paymentMethods": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["type", "metadata"],
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Payment method type (e.g., BANK_ACCOUNT)"
                },
                "metadata": {
                  "type": "object",
                  "additionalProperties": true,
                  "description": "Payment method details specific to the type"
                }
              }
            },
            "minItems": 1,
            "maxItems": 1,
            "description": "Array with exactly one payment method"
          }
        }
      },

      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "9f110d19-73f3-4082-b0a6-9b06e6b3b358"
          },
          "fromCurrency": {
            "type": "string",
            "example": "BHD"
          },
          "toCurrency": {
            "type": "string",
            "example": "INR"
          },
          "fromAmount": {
            "type": "string",
            "example": "1000"
          },
          "toAmount": {
            "type": "string",
            "example": "248275.9"
          },
          "rate": {
            "type": "string",
            "example": "248.2759"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-02T14:12:13.847Z"
          },
          "midMarketRate": {
            "type": "string",
            "example": "242.7772"
          },
          "difference": {
            "type": "string",
            "example": "5498.702"
          }
        }
      },
      "QuoteRequest": {
        "type": "object",
        "required": ["recipientId", "fromCurrency", "toCurrency", "fromAmount"],
        "properties": {
          "recipientId": {
            "type": "string",
            "format": "uuid",
            "example": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1",
            "description": "ID of the recipient"
          },
          "fromCurrency": {
            "type": "string",
            "enum": ["INR", "PHP", "HKD", "AED", "SAR"],
            "example": "INR",
            "description": ""
          },
          "toCurrency": {
            "type": "string",
            "enum": ["USD", "AED", "BHD", "SAR", "USDT", "USDC"],
            "example": "USD",
            "description": ""
          },
          "fromAmount": {
            "type": "number",
            "example": 1000,
            "description": "Amount to send"
          },
          "toAmount": {
            "type": "number",
            "example": 500,
            "description": "Target amount to receive (optional, alternative to fromAmount)"
          }
        },
        "additionalProperties": false,
        "description": "Request for a currency exchange quote"
      },
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/Quote"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "d7a8990f-ca70-4370-9569-5f9d91c00b37"
          },
          "fromCurrencyId": {
            "type": "string",
            "example": "cmj10enm50011x34d8fq1w4j6"
          },
          "toCurrencyId": {
            "type": "string",
            "example": "cmj10enm60014x34dm0fp6ndy"
          },
          "fromAmount": {
            "type": "string",
            "example": "20"
          },
          "toAmount": {
            "type": "string",
            "example": "509.474"
          },
          "destination_country": {
            "type": "string",
            "example": "IND"
          },
          "purpose_of_payment": {
            "type": ["string", "null"],
            "example": null
          },
          "notes": {
            "type": ["string", "null"],
            "example": null
          },
          "error": {
            "type": ["string", "null"],
            "example": null
          },
          "status": {
            "type": "string",
            "enum": ["COMPLETED"],
            "example": "COMPLETED"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-03T06:23:38.042Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-03T06:23:02.843Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2026-02-03T06:23:38.043Z"
          },
          "externalReference": {
            "type": ["string", "null"],
            "example": null
          },
          "senderDetails": {
            "type": ["string", "null"],
            "example": null
          },
          "orgId": {
            "type": "string",
            "example": "74d14bfb-a6f0-4859-86f8-75ec3e0adfa0"
          },
          "createdByUserId": {
            "type": "string",
            "example": "d66fbf12-aa1a-45e4-86f7-df39cd6af66c"
          },
          "initiatorType": {
            "type": "string",
            "enum": ["USER"],
            "example": "USER"
          },
          "paymentMethodId": {
            "type": "string",
            "example": "6467e5a9-ccc2-49a6-88bb-3cafb6b9e50a"
          },
          "recipientId": {
            "type": "string",
            "example": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1"
          },
          "fromCurrency": {
            "type": "string",
            "example": "BHD"
          },
          "toCurrency": {
            "type": "string",
            "example": "INR"
          }
        }
      },
      "TransactionRequest": {
        "type": "object",
        "required": ["quoteId", "recipientId"],
        "properties": {
          "quoteId": {
            "type": "string",
            "example": "a89e6722-44ba-4b4b-968d-bf99e6de6c9d",
            "description": "ID of the quote to execute"
          },
          "recipientId": {
            "type": "string",
            "format": "uuid",
            "example": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1",
            "description": "ID of the recipient"
          }
        }
      },
      "TransactionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactionId": {
                "type": "string",
                "format": "uuid",
                "example": "4071f336-1066-4540-a5d5-5f397488f1d4"
              },
              "status": {
                "type": "string",
                "enum": ["COMPLETED"],
                "example": "COMPLETED"
              },
              "message": {
                "type": "string",
                "example": "Transaction initiated successfully"
              }
            }
          }
        }
      },
      "TransactionsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "transactions": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                },
                "example": [
                  {
                    "id": "d7a8990f-ca70-4370-9569-5f9d91c00b37",
                    "fromCurrencyId": "cmj10enm50011x34d8fq1w4j6",
                    "toCurrencyId": "cmj10enm60014x34dm0fp6ndy",
                    "fromAmount": "20",
                    "toAmount": "509.474",
                    "destination_country": "IND",
                    "purpose_of_payment": null,
                    "notes": null,
                    "error": null,
                    "status": "COMPLETED",
                    "completedAt": "2026-02-03T06:23:38.042Z",
                    "createdAt": "2026-02-03T06:23:02.843Z",
                    "updatedAt": "2026-02-03T06:23:38.043Z",
                    "externalReference": null,
                    "senderDetails": null,
                    "orgId": "74d14bfb-a6f0-4859-86f8-75ec3e0adfa0",
                    "createdByUserId": "d66fbf12-aa1a-45e4-86f7-df39cd6af66c",
                    "initiatorType": "USER",
                    "paymentMethodId": "6467e5a9-ccc2-49a6-88bb-3cafb6b9e50a",
                    "recipientId": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1"
                  }
                ]
              }
            }
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "secret": {
            "type": "string",
            "description": "Secret key for webhook signature verification"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the webhook is currently active"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateWebhook": {
        "type": "object",
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "The webhook endpoint URL that will receive event notifications"
          }
        }
      },
      "WebhooksResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "description": "Webhook payload sent to configured webhook endpoints",
        "properties": {
          "event": {
            "type": "string",
            "description": "The type of event that triggered this webhook",
            "enum": [
              "transaction.created",
              "transaction.completed",
              "transaction.failed",
              "recipient.created",
              "recipient.updated"
            ]
          },
          "data": {
            "type": "object",
            "description": "Event-specific data payload",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TransactionWebhookData"
              },
              {
                "$ref": "#/components/schemas/RecipientWebhookData"
              }
            ]
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 timestamp when the webhook was sent"
          },
          "webhook_id": {
            "type": "string",
            "description": "ID of the webhook configuration that sent this payload"
          }
        },
        "required": ["event", "data", "timestamp", "webhook_id"]
      },
      "TransactionWebhookData": {
        "type": "object",
        "description": "Transaction data sent in webhook payloads",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "CONFIRMING",
              "PROCESSING",
              "PAID",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ],
            "description": "Current transaction status"
          },
          "fromCurrency": {
            "type": "string",
            "description": "Source currency code"
          },
          "toCurrency": {
            "type": "string",
            "description": "Destination currency code"
          },
          "fromAmount": {
            "type": "string",
            "description": "Amount being sent (as string to preserve precision)"
          },
          "toAmount": {
            "type": "string",
            "description": "Amount being received (as string to preserve precision)"
          },
          "recipient": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": ["INDIVIDUAL", "BUSINESS"]
              }
            }
          },
          "notes": {
            "type": "string",
            "description": "Additional notes (typically error messages for failed transactions)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when transaction was completed (only for completed transactions)"
          }
        },
        "required": [
          "id",
          "status",
          "fromCurrency",
          "toCurrency",
          "fromAmount",
          "toAmount",
          "createdAt",
          "updatedAt"
        ]
      },
      "RecipientWebhookData": {
        "type": "object",
        "description": "Recipient data sent in webhook payloads",
        "properties": {
          "id": {
            "type": "string",
            "description": "Recipient ID"
          },
          "name": {
            "type": "string",
            "description": "Recipient name"
          },
          "email": {
            "type": "string",
            "description": "Recipient email"
          },
          "type": {
            "type": "string",
            "enum": ["INDIVIDUAL", "BUSINESS"],
            "description": "Recipient type"
          },
          "country": {
            "type": "string",
            "description": "Recipient country code"
          },
          "verificationStatus": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "IN_PROGRESS",
              "COMPLETED",
              "FAILED",
              "IN_REVIEW",
              "UPDATE_REQUIRED",
              "CREATED",
              "EXTERNAL_VERIFICATION"
            ],
            "description": "Recipient verification status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "type",
          "verificationStatus",
          "createdAt",
          "updatedAt"
        ]
      },
      "PasswordChange": {
        "type": "object",
        "required": ["currentPassword", "newPassword"],
        "properties": {
          "currentPassword": {
            "type": "string",
            "format": "password"
          },
          "newPassword": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "ProfileUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "User's full name",
            "minLength": 3
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "User's email address"
          },
          "currentPassword": {
            "type": "string",
            "format": "password",
            "description": "Current password (required when changing password)"
          },
          "newPassword": {
            "type": "string",
            "format": "password",
            "description": "New password (must be at least 8 characters)",
            "minLength": 8
          }
        }
      },
      "KycStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "NOT_STARTED",
              "IN_PROGRESS",
              "IN_REVIEW",
              "COMPLETED",
              "FAILED",
              "UPDATE_REQUIRED"
            ]
          },
          "applicantId": {
            "type": "string"
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time"
          },
          "rejectionReason": {
            "type": "string"
          }
        }
      },
      "KycLink": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "KycResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/KycStatus"
              },
              {
                "$ref": "#/components/schemas/KycLink"
              }
            ]
          }
        }
      },
      "PaymentMethodField": {
        "type": "object",
        "required": ["fieldName"],
        "properties": {
          "fieldName": {
            "type": "string",
            "example": "accountNumber"
          },
          "displayName": {
            "type": "string",
            "example": "Account Number"
          },
          "required": {
            "type": "boolean",
            "example": true
          },
          "type": {
            "type": "string",
            "example": "STRING"
          },
          "value": {
            "type": "string",
            "example": "Instant, 24/7 including weekends and holidays."
          },
          "min": {
            "type": "number",
            "example": 500
          },
          "max": {
            "type": "number",
            "example": 10000000
          },
          "regex": {
            "type": "string",
            "example": "^\\d{9,18}$"
          },
          "errorMessage": {
            "type": "string",
            "example": "Please enter a valid value."
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentMethodFieldOption"
            }
          }
        },
        "additionalProperties": false
      },
      "PaymentMethodFieldOption": {
        "type": "object",
        "required": ["value", "displayName"],
        "properties": {
          "value": {
            "type": "string",
            "example": "savings"
          },
          "displayName": {
            "type": "string",
            "example": "Savings"
          }
        }
      },
      "SendersResponse": {
        "type": "object",
        "required": [
          "id",
          "type",
          "country",
          "destinationCountry",
          "verificationInfo",
          "verificationStatus",
          "userId",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "1cc3066d-d9b2-436c-b545-d9942120f080"
          },
          "email": {
            "type": ["string", "null"],
            "format": "email",
            "example": null
          },
          "phoneNumber": {
            "type": ["string", "null"],
            "example": null
          },
          "type": {
            "type": "string",
            "example": "BUSINESS"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "ARE"
          },
          "destinationCountry": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "example": "IND"
          },
          "verificationInfo": {
            "$ref": "#/components/schemas/RecipientVerificationInfo"
          },
          "verificationStatus": {
            "type": "string",
            "example": "NOT_STARTED"
          },
          "externalVerificationStatus": {
            "type": ["string", "null"],
            "example": null
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "example": "ff5529eb-f3da-4678-914d-b05447a58978"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-07-11T05:34:22.861Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2025-07-11T05:34:22.861Z"
          }
        },
        "additionalProperties": false
      },
      "RecipientVerificationInfo": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "example": "ICD Brookfield Place, Dubai, UAE"
          },
          "businessName": {
            "type": "string",
            "example": "ARP DIGITAL"
          }
        },
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/recipients": {
      "get": {
        "tags": ["Recipients"],
        "summary": "List Recipients",
        "description": "Retrieve all recipients for the authenticated user",
        "operationId": "listRecipients",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved recipients",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "63e60e8b-1546-4a11-811d-12928958557b"
                          },
                          "name": {
                            "type": "string",
                            "example": "Juan Cruz"
                          },
                          "type": {
                            "type": "string",
                            "enum": ["INDIVIDUAL", "BUSINESS"],
                            "example": "INDIVIDUAL"
                          },
                          "country": {
                            "type": "string",
                            "example": "PHL"
                          },
                          "verificationInfo": {
                            "type": "object",
                            "additionalProperties": true,
                            "example": {
                              "lastName": "Cruz",
                              "firstName": "Juan"
                            }
                          },
                          "metadata": {
                            "type": ["object", "null"],
                            "example": null
                          },
                          "verificationStatus": {
                            "type": "string",
                            "enum": [
                              "NOT_STARTED",
                              "IN_PROGRESS",
                              "COMPLETED",
                              "FAILED",
                              "IN_REVIEW",
                              "UPDATE_REQUIRED",
                              "CREATED",
                              "EXTERNAL_VERIFICATION"
                            ],
                            "example": "NOT_STARTED"
                          },
                          "externalReference": {
                            "type": ["string", "null"],
                            "example": null
                          },
                          "paymentMethods": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "7f55da44-c568-4ccb-9c82-fa1ef71b1d3e"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "INSTAPAY"
                                },
                                "metadata": {
                                  "type": "object",
                                  "additionalProperties": true,
                                  "example": {
                                    "name": "Juan Dela Cruz",
                                    "channel": "bdouni",
                                    "accountNumber": "123456789012"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "63e60e8b-1546-4a11-811d-12928958557b",
                          "name": "Juan Cruz",
                          "type": "INDIVIDUAL",
                          "country": "PHL",
                          "verificationInfo": {
                            "lastName": "Cruz",
                            "firstName": "Juan"
                          },
                          "metadata": null,
                          "verificationStatus": "NOT_STARTED",
                          "externalReference": null,
                          "paymentMethods": [
                            {
                              "id": "7f55da44-c568-4ccb-9c82-fa1ef71b1d3e",
                              "type": "INSTAPAY",
                              "metadata": {
                                "name": "Juan Dela Cruz",
                                "channel": "bdouni",
                                "accountNumber": "123456789012"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Recipients"],
        "summary": "Create Recipient",
        "description": "Create a new recipient with verification information and payment methods",
        "operationId": "createRecipient",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecipient"
              },
              "examples": {
                "individualRecipient": {
                  "summary": "default",
                  "value": {
                    "type": "INDIVIDUAL",
                    "country": "PHL",
                    "verificationInfo": {
                      "firstName": "Juan",
                      "lastName": "Cruz"
                    },
                    "paymentMethods": [
                      {
                        "type": "PESONET",
                        "metadata": {
                          "channel": "bdouni",
                          "name": "Juan Dela Cruz",
                          "accountNumber": "123456789012"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created recipient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "63e60e8b-1546-4a11-811d-12928958557b",
                          "description": "Unique recipient identifier"
                        },
                        "name": {
                          "type": "string",
                          "example": "Juan Cruz",
                          "description": "Recipient name"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["INDIVIDUAL", "BUSINESS"],
                          "example": "INDIVIDUAL",
                          "description": "Type of recipient - individual person or business entity"
                        },
                        "country": {
                          "type": "string",
                          "example": "PHL",
                          "description": "3-letter ISO country code"
                        },
                        "verificationInfo": {
                          "type": "object",
                          "additionalProperties": true,
                          "example": {
                            "lastName": "Cruz",
                            "firstName": "Juan"
                          },
                          "description": "Verification information, varies by country and type"
                        },
                        "metadata": {
                          "type": ["object", "null"],
                          "example": null,
                          "description": "Additional metadata"
                        },
                        "verificationStatus": {
                          "type": "string",
                          "enum": [
                            "NOT_STARTED",
                            "IN_PROGRESS",
                            "COMPLETED",
                            "FAILED",
                            "IN_REVIEW",
                            "UPDATE_REQUIRED",
                            "CREATED",
                            "EXTERNAL_VERIFICATION"
                          ],
                          "example": "NOT_STARTED",
                          "description": "Recipient verification status"
                        },
                        "orgId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "74d14bfb-a6f0-4859-86f8-75ec3e0adfa0",
                          "description": "Organization ID"
                        },
                        "createdByUserId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "d66fbf12-aa1a-45e4-86f7-df39cd6af66c",
                          "description": "User ID who created the recipient"
                        },
                        "initiatorType": {
                          "type": "string",
                          "enum": ["USER", "SYSTEM"],
                          "example": "USER",
                          "description": "Type of initiator"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-02-02T12:58:50.598Z",
                          "description": "Creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-02-02T12:58:50.622Z",
                          "description": "Last update timestamp"
                        },
                        "deletedAt": {
                          "type": ["string", "null"],
                          "format": "date-time",
                          "example": null,
                          "description": "Deletion timestamp (null if not deleted)"
                        },
                        "externalReference": {
                          "type": ["string", "null"],
                          "example": null,
                          "description": "External reference identifier"
                        },
                        "paymentMethods": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "7f55da44-c568-4ccb-9c82-fa1ef71b1d3e"
                              },
                              "type": {
                                "type": "string",
                                "example": "INSTAPAY"
                              },
                              "metadata": {
                                "type": "object",
                                "additionalProperties": true,
                                "example": {
                                  "name": "Juan Dela Cruz",
                                  "channel": "bdouni",
                                  "accountNumber": "123456789012"
                                }
                              },
                              "recipientId": {
                                "type": "string",
                                "format": "uuid",
                                "example": "63e60e8b-1546-4a11-811d-12928958557b"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-02-02T12:58:50.606Z"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-02-02T12:58:50.606Z"
                              }
                            }
                          },
                          "description": "Payment methods associated with the recipient"
                        },
                        "externalIds": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "externalId": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              },
                              "createdAt": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "updatedAt": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          },
                          "example": [],
                          "description": "External ID mappings"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/recipients/{id}": {
      "get": {
        "tags": ["Recipients"],
        "summary": "Get Recipient",
        "description": "Retrieve a specific recipient by ID",
        "operationId": "getRecipient",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Recipient ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved recipient",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1",
                          "description": "Unique recipient identifier"
                        },
                        "name": {
                          "type": "string",
                          "example": "Alice Luis",
                          "description": "Recipient name"
                        },
                        "type": {
                          "type": "string",
                          "enum": ["INDIVIDUAL", "BUSINESS"],
                          "example": "INDIVIDUAL",
                          "description": "Type of recipient - individual person or business entity"
                        },
                        "country": {
                          "type": "string",
                          "example": "IND",
                          "description": "3-letter ISO country code"
                        },
                        "verificationInfo": {
                          "type": "object",
                          "additionalProperties": true,
                          "example": {
                            "email": "haidiso294@gmail.com",
                            "phone": "7894561230",
                            "lastName": "Luis",
                            "firstName": "Alice"
                          },
                          "description": "Verification information, varies by country and type"
                        },
                        "metadata": {
                          "type": ["object", "null"],
                          "example": null,
                          "description": "Additional metadata"
                        },
                        "orgId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "74d14bfb-a6f0-4859-86f8-75ec3e0adfa0",
                          "description": "Organization ID"
                        },
                        "createdByUserId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "d66fbf12-aa1a-45e4-86f7-df39cd6af66c",
                          "description": "User ID who created the recipient"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-19T07:07:55.771Z",
                          "description": "Creation timestamp"
                        },
                        "updatedAt": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2026-01-19T07:07:55.818Z",
                          "description": "Last update timestamp"
                        },
                        "externalReference": {
                          "type": ["string", "null"],
                          "example": null,
                          "description": "External reference identifier"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/recipients/verificationFields": {
      "get": {
        "tags": ["Recipients"],
        "summary": "Get Recipient Verification Fields",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "3-letter ISO country code",
            "schema": {
              "type": "string",
              "example": "PHL"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Recipient type",
            "schema": {
              "type": "string",
              "enum": ["INDIVIDUAL", "BUSINESS"]
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved verification fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VerificationField"
                      }
                    }
                  },
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "fieldName": "firstName",
                        "displayName": "First Name",
                        "required": true,
                        "type": "STRING",
                        "regex": "^[A-Za-z\\s]{1,35}$",
                        "errorMessage": "Please enter a valid first name (1-35 letters)"
                      },
                      {
                        "fieldName": "lastName",
                        "displayName": "Last Name",
                        "required": true,
                        "type": "STRING",
                        "regex": "^[A-Za-z\\s]{1,35}$",
                        "errorMessage": "Please enter a valid last name (1-35 letters)"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/recipients/paymentMethodFields": {
      "get": {
        "tags": ["Recipients"],
        "summary": "Get Payment Method Fields",
        "description": "Retrieve required payment method fields for recipients based on country",
        "operationId": "getRecipientPaymentMethodFields",
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "description": "3-letter ISO country code",
            "schema": {
              "type": "string",
              "pattern": "^[A-Z]{3}$"
            }
          },

          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved payment method fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PaymentMethodField"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/quote": {
      "post": {
        "tags": ["Quotes"],
        "summary": "Get Exchange Rate Quote",
        "description": "Get a quote for currency exchange between sender and recipient",
        "operationId": "createQuote",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QuoteRequest"
              },
              "examples": {
                "quoteExample": {
                  "summary": "default",
                  "value": {
                    "recipientId": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1",
                    "fromCurrency": "INR",
                    "toCurrency": "USD",
                    "fromAmount": 1000,
                    "toAmount": 500
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully generated quote",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/transaction": {
      "post": {
        "tags": ["Transactions"],
        "summary": "Execute Transaction",
        "description": "Execute a remittance transaction based on a previously generated quote",
        "operationId": "createTransaction",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              },
              "examples": {
                "transactionExample": {
                  "summary": "default",
                  "value": {
                    "quoteId": "9f110d19-73f3-4082-b0a6-9b06e6b3b358",
                    "recipientId": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": ["Transactions"],
        "summary": "List Transactions",
        "description": "Retrieve all transactions for the authenticated user",
        "operationId": "listTransactions",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by transaction status",
            "schema": {
              "type": "string",
              "enum": [
                "CONFIRMING",
                "PROCESSING",
                "COMPLETED",
                "FAILED",
                "CANCELLED"
              ]
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    },
    "/transaction/{id}": {
      "get": {
        "tags": ["Transactions"],
        "summary": "Get Transaction",
        "description": "Retrieve a specific transaction by ID",
        "operationId": "getTransaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Transaction ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "9f57b396-8bbb-4dfe-b84a-6ba6a34f5d05",
                    "fromCurrencyId": "cmj10enm60013x34dqg86qxzo",
                    "toCurrencyId": "cmj10enm60014x34dm0fp6ndy",
                    "fromAmount": "3",
                    "toAmount": "736.7637",
                    "destination_country": "IND",
                    "purpose_of_payment": null,
                    "notes": "GPS Transfer",
                    "error": null,
                    "status": "COMPLETED",
                    "completedAt": "2026-01-21T07:25:05.479Z",
                    "createdAt": "2026-01-21T07:24:44.088Z",
                    "updatedAt": "2026-01-21T07:25:05.480Z",
                    "externalReference": null,
                    "senderDetails": null,
                    "orgId": "74d14bfb-a6f0-4859-86f8-75ec3e0adfa0",
                    "createdByUserId": "d66fbf12-aa1a-45e4-86f7-df39cd6af66c",
                    "initiatorType": "USER",
                    "paymentMethodId": "6467e5a9-ccc2-49a6-88bb-3cafb6b9e50a",
                    "recipientId": "fb2b2924-7a66-42ac-8427-1287e2d3fdb1",
                    "fromCurrency": "BHD",
                    "toCurrency": "INR"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Invalid or missing API key for creating a transaction.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Unauthorized" },
                    "message": {
                      "type": "string",
                      "example": "You are not authorized to create a transaction. Please provide a valid API key."
                    },
                    "code": { "type": "string", "example": "INVALID_API_KEY" }
                  }
                },
                "example": {
                  "success": false,
                  "error": "Unauthorized",
                  "message": "You are not authorized to create a transaction. Please provide a valid API key.",
                  "code": "INVALID_API_KEY"
                }
              }
            }
          }
        }
      }
    }
  }
}
