{
  "openapi": "3.0.3",
  "info": {
    "title": "ARP Digital OTC API",
    "description": "Over-The-Counter (OTC) trading API for managing trades and obtaining real-time quotes. This API enables authenticated users to execute buy/sell trades, retrieve their trading history, and request price quotes for various trading pairs. All requests require API key authentication with HMAC SHA256 signature verification for security.",
    "version": "1.0.0",
    "contact": {
      "name": "ARP Digital Support",
      "email": "support@arpdigital.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://arpdigital.com/license"
    }
  },
  "externalDocs": {
    "description": "Full API documentation and guides",
    "url": "https://docs.arpdigital.com/otc-api"
  },
  "servers": [
    {
      "url": "https://platform.arpdigital.io/services/otc/api/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "parameters": {
      "ApiKey": {
        "name": "X-API-Key",
        "in": "header",
        "description": "Your unique API key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Timestamp": {
        "name": "X-Timestamp",
        "in": "header",
        "description": "Current Unix timestamp (in seconds).",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64",
          "example": 1700000000
        }
      },
      "Signature": {
        "name": "X-Signature",
        "in": "header",
        "description": "HMAC SHA256 signature generated using the request payload and secret key.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Environment": {
        "name": "X-Environment",
        "in": "header",
        "description": "Specifies the environment to use. Determines which database the API interacts with.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": ["sandbox", "production"],
          "default": "sandbox"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication"
      }
    },
    "schemas": {
      "Currency": {
        "type": "object",
        "required": ["id", "symbol", "name"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique currency identifier",
            "example": "cur_123abc"
          },
          "symbol": {
            "type": "string",
            "description": "Currency symbol",
            "example": "USD"
          },
          "name": {
            "type": "string",
            "description": "Currency name",
            "example": "US Dollar"
          },
          "type": {
            "type": "string",
            "enum": ["FIAT", "CRYPTO"],
            "description": "Currency type",
            "example": "FIAT"
          },
          "decimals": {
            "type": "integer",
            "description": "Number of decimal places",
            "example": 2
          }
        }
      },
      "Quote": {
        "type": "object",
        "required": [
          "id",
          "fromCurrencyId",
          "toCurrencyId",
          "rate",
          "expiresAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique quote identifier",
            "example": "quote_456def"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromAmount": {
            "type": "string",
            "description": "Amount from source currency",
            "example": "100.00"
          },
          "toAmount": {
            "type": "string",
            "description": "Amount in destination currency",
            "example": "98.50"
          },
          "rate": {
            "type": "string",
            "description": "Exchange rate",
            "example": "0.985000"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Quote expiration timestamp",
            "example": "2025-12-23T10:20:00Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Quote creation timestamp",
            "example": "2025-12-23T10:10:00Z"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Quote labels (e.g., Pro Trading, Standard Trading)",
            "example": ["Standard Trading"]
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "Trade": {
        "type": "object",
        "required": [
          "id",
          "fromCurrencyId",
          "toCurrencyId",
          "status",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique trade identifier",
            "example": "trade_123abc"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Source currency details"
          },
          "toCurrency": {
            "$ref": "#/components/schemas/Currency",
            "description": "Destination currency details"
          },
          "fromAmount": {
            "type": "string",
            "description": "Amount from source currency",
            "example": "100.00"
          },
          "toAmount": {
            "type": "string",
            "description": "Amount in destination currency",
            "example": "98.50"
          },
          "rate": {
            "type": "string",
            "description": "Exchange rate used for trade",
            "example": "0.985000"
          },
          "type": {
            "type": "string",
            "enum": ["ONRAMP", "OFFRAMP", "CRYPTO"],
            "description": "Trade type based on currency types",
            "example": "ONRAMP"
          },
          "status": {
            "type": "string",
            "enum": [
              "PENDING",
              "PROCESSING",
              "COMPLETED",
              "FAILED",
              "CANCELLED"
            ],
            "description": "Trade status",
            "example": "COMPLETED"
          },
          "quote": {
            "$ref": "#/components/schemas/Quote",
            "description": "Associated quote details"
          },
          "organization": {
            "type": "object",
            "description": "Organization details",
            "properties": {
              "id": {
                "type": "string",
                "example": "org_123"
              },
              "name": {
                "type": "string",
                "example": "Acme Corp"
              }
            }
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier",
            "example": "ext_ref_123"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Trade creation timestamp",
            "example": "2025-12-23T10:10:00Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp",
            "example": "2025-12-23T10:15:00Z"
          }
        }
      },
      "CreateTradeRequest": {
        "type": "object",
        "required": ["quoteId"],
        "properties": {
          "quoteId": {
            "type": "string",
            "description": "ID of the quote to execute trade on",
            "example": "quote_456def"
          },
          "externalReference": {
            "type": "string",
            "description": "Optional external reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "GetQuoteRequest": {
        "type": "object",
        "properties": {
          "fromCurrency": {
            "type": "string",
            "description": "Source currency symbol (e.g., USD, EUR)",
            "example": "USD"
          },
          "toCurrency": {
            "type": "string",
            "description": "Destination currency symbol (e.g., BTC, ETH)",
            "example": "BTC"
          },
          "fromCurrencyId": {
            "type": "string",
            "description": "Source currency ID",
            "example": "cur_123abc"
          },
          "toCurrencyId": {
            "type": "string",
            "description": "Destination currency ID",
            "example": "cur_456def"
          },
          "fromAmount": {
            "type": "number",
            "description": "Amount to convert from source currency",
            "example": 100.0
          },
          "toAmount": {
            "type": "number",
            "description": "Amount in destination currency (alternative to fromAmount)",
            "example": 0.0025
          },
          "externalReference": {
            "type": "string",
            "description": "Optional external reference identifier",
            "example": "ext_ref_123"
          }
        }
      },
      "TradeListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Trade"
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string"
          },
          "errorDetails": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid API key or signature",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Access denied",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/trades": {
      "get": {
        "tags": ["Trades"],
        "operationId": "getTrades",
        "summary": "Get user trades",
        "description": "Retrieve authenticated user's trading history with optional filtering and pagination",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by trade status",
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "PROCESSING",
                "COMPLETED",
                "FAILED",
                "CANCELLED"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by trade type",
            "schema": {
              "type": "string",
              "enum": ["ONRAMP", "OFFRAMP", "CRYPTO"]
            }
          },
          {
            "name": "fromCurrencyId",
            "in": "query",
            "description": "Filter by source currency ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "toCurrencyId",
            "in": "query",
            "description": "Filter by destination currency ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "inventoryTrade",
            "in": "query",
            "description": "Filter by inventory trade status (true or false)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search by trade ID or organization name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter trades from this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter trades until this date (ISO 8601 format)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (default: 10)",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "List of trades retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TradeListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": ["Trades"],
        "operationId": "createTrade",
        "summary": "Create a new trade",
        "description": "Create a new trade by providing a valid quote ID. The trade will be executed with the quote's exchange rate.",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trade created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trade"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/trades/{id}": {
      "get": {
        "tags": ["Trades"],
        "operationId": "getTrade",
        "summary": "Get trade by ID",
        "description": "Retrieve details of a specific trade by its ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Trade ID"
          },
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Trade retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Trade"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Trade not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/quotes": {
      "post": {
        "tags": ["Quotes"],
        "operationId": "getQuote",
        "summary": "Get a price quote",
        "description": "Get a real-time price quote for a currency pair. You can provide either currency symbols or currency IDs, and either fromAmount or toAmount.",
        "parameters": [
          { "$ref": "#/components/parameters/ApiKey" },
          { "$ref": "#/components/parameters/Timestamp" },
          { "$ref": "#/components/parameters/Signature" },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  }
}