{
  "openapi": "3.0.0",
  "info": {
    "title": "Wallet API",
    "description": "API for managing wallets, bank accounts, deposits, and withdrawals",
    "version": "1.0.0",
    "contact": {
      "name": "ARP Digital Solutions"
    }
  },
  "servers": [
    {
      "url": "https://platform.arpdigital.io/services/wallet/api/v1/",
      "description": "Wallet API endpoint"
    }
  ],
  "components": {
    "parameters": {
      "Environment": {
        "name": "X-Environment",
        "in": "header",
        "description": "Specifies the environment to use (sandbox or production). This determines which database the API interacts with.",
        "required": true,
        "schema": {
          "type": "string",
          "enum": ["sandbox", "production"],
          "default": "sandbox"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "API Key for authentication"
      }
    },
    "schemas": {
      "Wallet": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "chainId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "cryptocurrencyId": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "currencyId": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "pattern": "^[A-Z]{3}$",
            "description": "3-letter country code in uppercase"
          },
          "beneficiaryName": {
            "type": "string"
          },
          "bankName": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "routingCode": {
            "type": "string",
            "nullable": true
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "organizationId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Deposit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "type": "string",
            "enum": ["PROCESSING", "COMPLETED", "FAILED"]
          },
          "approvalStatus": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "REJECTED"]
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "sourceTreasuryId": {
            "type": "string",
            "nullable": true
          },
          "externalReference": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Withdrawal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "currency": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "double"
          },
          "status": {
            "type": "string",
            "enum": ["PROCESSING", "COMPLETED", "FAILED"]
          },
          "approvalStatus": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "REJECTED"]
          },
          "destinationWalletId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "destinationBankAccountId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "cryptocurrencyId": {
            "type": "string",
            "nullable": true
          },
          "notes": {
            "type": "string",
            "nullable": true
          },
          "reference": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "externalReference": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/wallet/balance": {
      "get": {
        "summary": "Get Balances",
        "description": "Retrieve all balance information for the authenticated organization",
        "operationId": "getBalances",
        "tags": ["Balances"],
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "description": "Filter by specific currency",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Balance"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/wallets": {
      "get": {
        "summary": "List Wallets",
        "description": "Retrieve all wallets for the authenticated organization",
        "operationId": "listWallets",
        "tags": ["Wallets"],
        "parameters": [
          {
            "name": "chainId",
            "in": "query",
            "description": "Filter by blockchain chain ID",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved wallets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Wallet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create Wallet",
        "description": "Create a new wallet for the authenticated organization",
        "operationId": "createWallet",
        "tags": ["Wallets"],
        "parameters": [{ "$ref": "#/components/parameters/Environment" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["chainId", "address", "cryptocurrencyId"],
                "properties": {
                  "chainId": {
                    "type": "string",
                    "description": "Blockchain chain ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional wallet name"
                  },
                  "address": {
                    "type": "string",
                    "description": "Wallet address"
                  },
                  "cryptocurrencyId": {
                    "type": "string",
                    "description": "Cryptocurrency ID"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/wallets/{id}": {
      "get": {
        "summary": "Get Wallet",
        "description": "Retrieve a specific wallet by ID",
        "operationId": "getWallet",
        "tags": ["Wallets"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Wallet ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Wallet not found"
          }
        }
      }
    },
    "/bank-accounts": {
      "get": {
        "summary": "List Bank Accounts",
        "description": "Retrieve all bank accounts for the authenticated organization",
        "operationId": "listBankAccounts",
        "tags": ["Bank Accounts"],
        "parameters": [
          {
            "name": "currencyId",
            "in": "query",
            "description": "Filter by currency ID",
            "schema": {
              "type": "string"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved bank accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BankAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create Bank Account",
        "description": "Create a new bank account for the authenticated organization",
        "operationId": "createBankAccount",
        "tags": ["Bank Accounts"],
        "parameters": [{ "$ref": "#/components/parameters/Environment" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currencyId",
                  "country",
                  "beneficiaryName",
                  "bankName",
                  "accountNumber"
                ],
                "properties": {
                  "currencyId": {
                    "type": "string",
                    "description": "Currency ID"
                  },
                  "country": {
                    "type": "string",
                    "pattern": "^[A-Z]{3}$",
                    "description": "3-letter ISO country code in uppercase"
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "Name of the account beneficiary"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "Name of the bank"
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "Bank account number"
                  },
                  "routingCode": {
                    "type": "string",
                    "description": "Optional routing code"
                  },
                  "iban": {
                    "type": "string",
                    "description": "Optional IBAN"
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional additional metadata"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created bank account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/bank-accounts/{id}": {
      "get": {
        "summary": "Get Bank Account",
        "description": "Retrieve a specific bank account by ID",
        "operationId": "getBankAccount",
        "tags": ["Bank Accounts"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Bank Account ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved bank account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccount"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Bank account not found"
          }
        }
      }
    },
    "/deposits": {
      "get": {
        "summary": "List Deposits",
        "description": "Retrieve deposits for the authenticated organization",
        "operationId": "listDeposits",
        "tags": ["Deposits"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by deposit status",
            "schema": {
              "type": "string",
              "enum": ["PROCESSING", "COMPLETED", "FAILED"]
            }
          },
          {
            "name": "approvalStatus",
            "in": "query",
            "description": "Filter by approval status",
            "schema": {
              "type": "string",
              "enum": ["PENDING", "APPROVED", "REJECTED"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (1-100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved deposits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Deposit"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create Deposit",
        "description": "Create a new deposit for the authenticated organization",
        "operationId": "createDeposit",
        "tags": ["Deposits"],
        "parameters": [{ "$ref": "#/components/parameters/Environment" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currency", "amount"],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Deposit amount (must be positive)"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional notes"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Optional reference number"
                  },
                  "source": {
                    "type": "string",
                    "description": "Optional source of the deposit"
                  },
                  "sourceTreasuryId": {
                    "type": "string",
                    "description": "Optional source treasury ID"
                  },
                  "externalReference": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional external reference"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created deposit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposit"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/deposits/{id}": {
      "get": {
        "summary": "Get Deposit",
        "description": "Retrieve a specific deposit by ID",
        "operationId": "getDeposit",
        "tags": ["Deposits"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Deposit ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved deposit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deposit"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Deposit not found"
          }
        }
      }
    },
    "/withdrawals": {
      "get": {
        "summary": "List Withdrawals",
        "description": "Retrieve withdrawals for the authenticated organization",
        "operationId": "listWithdrawals",
        "tags": ["Withdrawals"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by withdrawal status",
            "schema": {
              "type": "string",
              "enum": ["PROCESSING", "COMPLETED", "FAILED"]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results (1-100, default 50)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip (default 0)",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved withdrawals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Withdrawal"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create Withdrawal",
        "description": "Create a new withdrawal for the authenticated organization",
        "operationId": "createWithdrawal",
        "tags": ["Withdrawals"],
        "parameters": [{ "$ref": "#/components/parameters/Environment" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["currency", "amount"],
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency code"
                  },
                  "amount": {
                    "type": "number",
                    "format": "double",
                    "description": "Withdrawal amount (must be positive)"
                  },
                  "destinationWalletId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Destination wallet ID (XOR with destinationBankAccountId)"
                  },
                  "destinationBankAccountId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true,
                    "description": "Destination bank account ID (XOR with destinationWalletId)"
                  },
                  "cryptocurrencyId": {
                    "type": "string",
                    "description": "Required when using destinationWalletId"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Optional notes"
                  },
                  "reference": {
                    "type": "string",
                    "description": "Optional reference number"
                  },
                  "source": {
                    "type": "string",
                    "enum": ["API", "WEB", "MANUAL_ENTRY"],
                    "description": "Optional source of the withdrawal"
                  },
                  "externalReference": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional external reference"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created withdrawal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                }
              }
            }
          },
          "400": {
            "description": "Bad request - Must specify either destinationWalletId or destinationBankAccountId (but not both), and cryptocurrencyId is required when using destinationWalletId"
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        }
      }
    },
    "/withdrawals/{id}": {
      "get": {
        "summary": "Get Withdrawal",
        "description": "Retrieve a specific withdrawal by ID",
        "operationId": "getWithdrawal",
        "tags": ["Withdrawals"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Withdrawal ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          { "$ref": "#/components/parameters/Environment" }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved withdrawal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Withdrawal not found"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Balances",
      "description": "Operations related to account balances"
    },
    {
      "name": "Wallets",
      "description": "Operations related to wallet management"
    },
    {
      "name": "Bank Accounts",
      "description": "Operations related to bank account management"
    },
    {
      "name": "Deposits",
      "description": "Operations related to deposit management"
    },
    {
      "name": "Withdrawals",
      "description": "Operations related to withdrawal management"
    }
  ]
}
